
.skin-blue .main-header .navbar {
    background-color: #0b0c0c;
}

.navbar-default {
    background-color: #0b0c0c;
    border-color: #0b0c0c;
}

.navbar-default .navbar-brand {
    color: 	#ffffff;
    font-size: 30px;
}

.navbar-default .navbar-nav>li>a {
    color: 	#ffffff;
     font-size: 20px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #ffffff;
    background-color:	#505a5f;
     font-size: 20px;
}


body {
   font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
   background-color: #f3f2f1
  
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-weight: bold;
}



.small-box.bg-purple {
    background-color: #d53880 !important;
}

.small-box.bg-blue{
     background-color: #1d70b8 !important; 
}

.small-box.bg-orange{
     background-color: #f47738 !important; 
}

.small-box.bg-red{
     background-color: #f499be !important; 
}

.small-box.bg-green{
     background-color: #28a197 !important; 
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #5694ca;
}

a {
    color: #1d70b8;
}










