.main-header .logo {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 24px;

}

.skin-blue .main-header .logo {
    background-color: #0b0c0c;
    color: #fff;
    border-bottom: 0 solid transparent;
}

.skin-blue .main-header .navbar {
    background-color: #0b0c0c;
}


body {
   font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-weight: bold;
}

.skin-blue .sidebar a {
    color: #fff;
}
.btn-default {
    background-color: #1e282c;
    color: #444;
    border-color: #0b0c0c;
}

.small-box.bg-purple {
    background-color: #d53880 !important;
}

.small-box.bg-blue{
     background-color: #1d70b8 !important; 
}

.small-box.bg-orange{
     background-color: #f47738 !important; 
}

.small-box.bg-red{
     background-color: #f499be !important; 
}

.small-box.bg-green{
     background-color: #28a197 !important; 
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #5694ca;
}













